[2021-07-30 15:24] fefer opened #12 "AMF & MME do not start"
Hi,

Congrats for such a nice project!

I was able to run the source code of ope5gs and an old version of openverso-charts too, I believe it was the 18fa3e7, but unfortunately I do not have the version anymore. I am trying to run the latest tgz and I am getting an error while trying to set the AMF/MME up. Seems like an SCTP error, do you know what am I doing wrong?

Below the logs:
[code]

The ser

[2021-07-30 15:56] fefer commented on #12
My bad, found a new version of open5gs chart where it´s working!

[2021-07-30 15:56] #12 closed

[2021-07-30 23:50] fefer opened #13 "open5gs chart on a commercial gNB"
Hi,

I have installed the newest chart for open5gs and inserted the info of mongo db. However, the answer that I get after trying an authentication with a real user is that the supi is not found on the db. Can someone help me understand what is going on? I have tested same config on a non containerized Open5gs and the core works fine.

Below the db output:

[code]

All the pods are running fine:
[

[2021-08-02 05:45] cgiraldo commented on #13
Did you register your subscribers directly in mongo or have you use the open5gs webui?
I have a similar problem when using a bash script for user registration, but It works when registering through the webui.

[2021-08-02 14:34] fefer commented on #13
Thank you for your feedback!! :)

`Did you register your subscribers directly in mongo or have you use the open5gs webui?
I have a similar problem when using a bash script for user registration, but It works when registering through the webui.`

I have provisioned through webui, the Mongo output is just to check over the database. This it the output on the webui:

<img width="1566" alt="Screen Sho

[2021-08-02 16:47] fefer commented on #13
Oh, I am not an expert over Kubernetes, so maybe the error is related to the deployment of the PV. To deploy the PV for the Kubernetes I used the following YAML:

[code]

Do you think something is wrong with this deployment? Or maybe something you would change?

[2021-10-27 18:34] sam-sre opened #26 "Questions about open5gs charts"
Thanks for the well organized repo.

I deployed the Open5gs and UERANSIM, and I had some questions while doing so:

**Related to Open5gs:**
- Why the MME, HSS, SGWC and SGWU are enabled by default in the `open5gs` values chart? shouldnt only the 5G CNFs be enabled by default or are you targeting "Combo Dual" core with this ?
- Why using `StatefulSets` for AMF, NRF, SMF ,, etc ? why not `Deployment

[2021-10-28 09:28] #26 closed, assigned to nobody

[2021-10-28 14:46] sam-sre opened #27 "[sctp] [error]: could not connect: Connection timed out"
Hi,

I am getting the `SCTP could not connect: Connection timed out`  Error after deploying the `open5gs `and `ueransim `charts.

Chain of events :

1. I deployed the `open5gs `chart
2. I created a subscriber in the GUI
3. I deployed the `ueransim `chart

All components are deployed in the same namespace called `open5gs `namespace.
Below are all needed info.

**Open5gs**
This is the`values.yaml` f

[2021-10-29 20:00] sam-sre commented on #27
@gibson3659

The AMF service has 2 ports, one for SCTP and the other for TCP
[code]
Did you changed the AMF K8s service type to NodePort and used that port number?

[2021-10-29 20:12] gibson3659 commented on #27
@sam-sre

I was answering from memory, but my memory was wrong.  I hardcoded the ClusterIP into the config.

amfConfigs:
  - address: ${AMF_ADDR}

to

amfConfigs:
  - address: 10.100.185.204

[2021-10-30 11:23] sam-sre commented on #27
@gibson3659  The [entrypoint.sh](https://github.com/Gradiant/openverso-images/blob/main/ueransim/entrypoint.sh) is already doing that for me.
I have no connectivity problem, I can ping from within the `gnodeb`container to the `AMF`Pod and vise versa, also from the `ues` container to `AMF` Pod.

What was your `ueransim`  `values.yml` file? I am doubting the configurations are the cause.

Any Ideas?

[2021-10-30 21:14] cgiraldo commented on #27
SCTP feature in kubernetes enter stable in 1.20, so we must use kubernetes >= 1.20. This is ok for your environment. @avrodriguezgrad , any ideas?

[2021-10-31 09:57] sam-sre commented on #27
@cgiraldo  Thanks
Yes I am using K8s v1.20.12 and SCTP is supported.
Can you please share TAC, ST and SD values that you are using in your working environment ... Should those be matching in both the open5s config and the UERANSIM config?

[2021-11-01 09:30] avrodriguezgrad commented on #27
Hi,
@sam-sre your sd value is different in the open5gs and ueransim configs, having sd=1 and sd=ffffff. Also, can you share AMF logs? So we can know if there is packet exchange between the gNB and the AMF.

[2021-11-01 10:55] sam-sre commented on #27
Hi @avrodriguezgrad
I changed the sd value view times to check if it was the source of the connection problem but it wasnt, that's why I decided to leave the defulat values of sd in both open5gs and ueransim which were different.
So now I set the `sd=1` value in both the open5gs and ueransim and still having the same error.
I am also using `tac=1` and `sst=1` values in both charts.

**Logs from AM

[2021-11-01 11:20] avrodriguezgrad commented on #27
I don't know if this is your problem, but AMF binds to: 11/01 10:27:29.334: [amf] INFO: ngap_server() [192.168.2.73]:38412 (../src/amf/ngap-sctp.c:53)
and gNB looks for the AMF at: [2021-11-01 10:40:27.263] [sctp] [info] Trying to establish SCTP connection... (10.105.87.15:38412).

I think it is a k8s connectiviy issue, not related to our chart, so try to hardcode the AMF IP in the ueransim gnb co

[2021-11-01 16:43] sam-sre commented on #27
@avrodriguezgrad
Thanks for the follow up..

I also tried  hardcoding the AMF's Pod IP before but it didnt work, this is the reason I was asking about the meaning of the  `${AMF_ADDR}` variable, if it is the AMF K8s service IP or the AMF Pod IP.

Here in my current setup, the `AMF Pod IP = 192.168.18.7` and the `AMF svc IP=10.102.227.5` ..
I hard coded the AMF Pod IP in the gNodeB but still gettin

[2021-11-02 08:04] avrodriguezgrad commented on #27
Can you tell us exactly which steps you took, at a bash level, to deploy your environment?
I will recreate them to see if i have the same problem or try to find out what's going on.

Also, can you tell us which version of the chart are you deploying?

[2021-11-02 11:09] cgiraldo commented on #27
It is OK that the binding IP in amf log and the amf connection IP in ueransim differ. ueransim receives the amf hostname through `.Values.amf`. If you provide the amf k8s service, ueransim will connect to the open5gs-amf service ClusterIP.

Here is a working deployment with kind (https://kind.sigs.k8s.io/). I modifed `.Values.sd` in ueransim to be the same as open5gs.

[code]

The `open5gs-amf` se

[2021-11-02 17:04] sam-sre commented on #27
@avrodriguezgrad
Thanks for the follow up..
I am using an automated environment inspired by Jeff Geerling's work  [here](https://github.com/geerlingguy/ansible-role-kubernetes)

I am running an Ubuntu VM, inside this VM the Ansible playbooks are building K8s cluster (via kubeadm) with 1Master & 1Worker inside 2 vagrant boxes.
The playbooks also deploy Helm, Calico, NFS Dynamic provisioner, MetalLB

[2021-11-02 17:06] sam-sre commented on #27
@cgiraldo Thanks for the follow up..

I tried it with KinD and it works !

Have you tested the Open5gs charts within environemnts other than KinD ? e.g K3s or Kubeadm

BR

[2021-11-02 22:31] gibson3659 opened #28 "UPF does not forward returned packets to the gnb"
Hi.  I deployed these charts on aws eks, and everything seems to work fine except the NAT.  I see the packets go out the upf to the internet but the responses don't make it back to the gnb or ue.  Any ideas?

[2021-11-03 10:15] cgiraldo commented on #28
We have only test the helm charts in kubernetes baremetal.
So I can't help you here. Maybe there is something to configure in aws security-groups?

I can share some info on how upf works. open5gs image [entrypoint.sh](https://github.com/kleveross/ormb) creates a tun interface if the command is `open5gs-upfd`. Container runs in privileged mode for that. Also if `ENABLE_NAT` environment variable is

[2021-11-03 10:22] cgiraldo commented on #13
Sorry for the late response. Do you manage to solve this?

I use an storage provider in kubernetes to dynamicly deal with persistent volume claims from mongo. I use openebs.
I have no experience with static PVs, but your PV description seems ok.

Have you try open5gs + ueransim in your environment? Just to discard the problem is from the commercial gnb.

[2021-11-03 10:31] cgiraldo commented on #27
Yes.
We have it working with a kubeadm cluster with 1 master and 3 workers in ubuntu 20.04 in Dell servers.
Our current CNI is flannel. Maybe Calico is having problems with SCTP? Maybe related with this https://github.com/projectcalico/calico/issues/2570 ?

[2021-11-04 11:46] sam-sre commented on #27
@cgiraldo
Calico announced SCTP support since 2018, announcement [here](https://www.tigera.io/blog/whats-new-in-calico-v3-3/).

In 2020, we tested a commercial 5G Core fully containerized and Calico was the CNI in use, so I dont think this is the case here.
I am trying now Cilium CNI and I am getting the same results.

Flannel is not an option in my case since we want to perform tests related to e

[2021-11-04 12:27] cgiraldo commented on #27
Linux 5.4.0-88-generic #99-Ubuntu SMP

[2021-11-05 10:57] cgiraldo commented on #27
test kind + cilium (https://docs.cilium.io/en/v1.9/gettingstarted/kind/).

We DON'T have SCTP connectivity between ueransim gnodeb and open5gs amf.

maybe related with SCTP support in cilium? (https://github.com/cilium/cilium/pull/6912)

We will try with kind + calico.

[2021-11-05 11:12] sam-sre commented on #27
@cgiraldo Thanks for following up.

In our team we tried also `Cilium `with a commercial 5G Core (in Nov 2020) and it worked just fine .. This one was a big 5G deployment with heavy performance testing and we didnt encounter any CNI related problems.

Can you try `Calico `with your `Kubeadm `deployment?
Did you had to install any special modules/packages here? or you just used `Ubuntu20.04` as it

[2021-11-05 11:26] cgiraldo commented on #27
We have tested kind + calico and it works.

We have connectivity gnodeb <-> amf and ueransim ues register succesfully in the core.

Regarding out `kubeamd` deployment, it is a pre-prod environment, so we can't currently change the CNI.

We plan to include Multus to split control plane network and data plane network and try some CNIs for Q1 2022 (kube-ovn, ovn-kubernetes, cilium, etc.).

[2021-11-06 11:27] sam-sre commented on #27
I solved it, now SCTP connection is established.
All together I did the following:
- I updated kernel version for all K8s nodes.
- The NFS provisioner backing up the PVC for MongoDB was not stable, which had an effect on the UEs info added via the WebUI,, now it is fixed.
- The `sd=0xffffff` was not read correctly If it is added via the values.yml file (I downloaded the values.yml file to edit it

[2021-11-06 11:27] #27 closed

[2021-11-18 17:24] breberaldo opened #31 "CrashLoopBackOff for 5gscore pods"
Hello, I am trying to run these helm charts on AKS but I have an issue in which not all pods become available, and fail with status error "CrashLoopBackOff", as shown in the image below;

![image](https://user-images.githubusercontent.com/56566316/142464888-87d7733d-e2fe-4f84-8df7-291180ba3af5.png)

The actual error message for the containers running inside the pods is as follows:

[code]

Apparen

[2022-01-20 13:45] antaresf commented on #31
facing the same problem, did you found the solution ?

[2022-01-20 14:28] cgiraldo commented on #31
It seems that the AKS node kernel running the containers does not support sctp protocol.

I didn't try AKS, maybe you can the OS image of the AKS node or try to load the sctp kernel module in the AKS nodes with:

`sudo modprobe sctp and lsmod | grep "sctp"` to load the sctp kernel module.

[2022-01-24 15:20] DiogoCruz40 opened #34 "Certificates of hss,mme and pcrfr pods is expired when changed tag to latest"
So i tried to change the replicasets to latest tag and in the pods it says that The certificate is expired(mme,hss and pcrf).
`
2022/01/24 13:26:22.0510: [ 1]: WARNING: mongoc: Falling back to malloc for counters.

24/1/2022 13:26:22 | Open5GS daemon v2.3.3

24/1/2022 13:26:22 | 01/24 13:26:22.514: [app] INFO: Configuration: '/opt/open5gs/etc/open5gs/pcrf.yaml' (../lib/app/ogs-init.c:129)

24/1/20

[2022-01-24 15:45] cgiraldo commented on #34
You are correct, the latest tag was not updated  (it points to v2.3.3).

I have updated It to point to v2.4.0,  It must not include expired certificates now.

[2022-01-24 15:45] #34 closed

[2022-01-31 03:59] antaresf commented on #31
confirmed because AKS/GKE node kernel not supported sctp protocol.
need to setup k8s from VM in order to work

thanks

[2022-01-31 15:00] #31 closed

[2022-02-04 19:41] DiogoCruz40 opened #36 "On ueransim gnb is running but ue fails"
it says: [rls-udp] [error] Unable to decode RLS message

How do we test this(ueransim) on our kubernetes cluster with open5gs??
Running kubernetes cluster with open5gs(latest version) and ueransim(version 3.2.4) in same namespace from your helm chart

[2022-02-04 20:04] DiogoCruz40 commented on #36
Ok so i solve that error by putting the gnb and ue on same version

[2022-02-04 20:04] #36 closed

[2022-02-04 22:03] DiogoCruz40 opened #37 "I can't make UE from UERANSIM work with open5gs, both openverso-charts"
![Captura de ecrã de 2022-02-04 22-01-22](https://user-images.githubusercontent.com/43995498/152609274-0f37433d-80cc-45d0-b795-06eff769e68e.png)

So i ping for exemple google.com and it's 100% package lost
I used your configs and only changed the version to 3.2.4, 3.2.2 didn t work either.
I can't find the reason why this is not working with open5gs tag latest

Can you help plz?

[2022-02-05 03:17] DiogoCruz40 opened #38 "Restore data in open5gs/mongodb problem using chart open5gs"
Hey so i find another problem with restoring data from a persistence volume, first i created a persistence volume, then i change the deployment of open5gs/mongodb storage to /mnt/bitnami/mongodb and finally i tested database with open5gs web ui. When i delete the mongodb pod it should restore the data from the persistence volume and that doesn't happen.

[2022-02-07 16:05] cgiraldo commented on #38
Hi. We currently test the deployments using [dynamic persistent volume provisioning](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#dynamic) .
We install OpenEBS in our kubernetes cluster and set the default storageclass to `openebs-hostpath`.

However, I don't think it should be different providing an static PV.

[2022-02-07 16:46] DiogoCruz40 commented on #38
Inside mongodb logs it says:

mongodb 16:44:24.52 INFO ==> ** Starting MongoDB setup **
--
7/2/2022 16:44:24 | mongodb 16:44:24.53 INFO ==> Validating settings in MONGODB_* env vars...
7/2/2022 16:44:24 | mongodb 16:44:24.53 WARN ==> You set the environment variable ALLOW_EMPTY_PASSWORD=yes. For safety reasons, do not use this flag in a production environment.
7/2/2022 16:44:24 | mkdir: cannot cre

[2022-02-07 19:50] #38 closed

[2022-02-07 19:50] DiogoCruz40 commented on #38
Thanks i used openebs for this

[2022-02-07 22:06] DiogoCruz40 commented on #37
Any suggestion?

[2022-02-09 07:16] cgiraldo commented on #37
Did you correctly register the UEs in the core?

[2022-02-09 12:11] DiogoCruz40 commented on #37
I'm sry there's no manual on how to do that, can you specify what i have to register?

[2022-02-10 17:55] DiogoCruz40 commented on #37
i have testing everything and i can't figure out where the interfaces are failling to proceed to public internet

[2022-02-10 18:35] cgiraldo commented on #37
Nat should be enabled by default in upf, giving you internet connectivity to ues.
Take a look to the entrypoint.sh of the openverso/open5gs image (https://github.com/Gradiant/openverso-images/blob/main/open5gs/entrypoint.sh).

You can check there how upf containers configures NAT.

I hope that helps to debug your problem.

[2022-02-15 23:37] DiogoCruz40 commented on #37
I'm in portugal, do my mcc and mnc matter here?

[2022-02-16 08:49] cgiraldo commented on #37
No. You are using UERANSIM so you are not actually using radio resources but simulation.
The requirements is that MCC, MCC and TAC to be the same across UERANSIM and open5gs.
Default UERANSIM and open5gs in values.yaml are the same for this parameters:

[code]

So you can keep the default values and It should work.

Have you try internet access through the ue container?

[2022-02-16 08:56] DiogoCruz40 commented on #37
Yes i have tried, so for the eth0 it ping's outside ip's like 8.8.8.8, but for interfaces like uesimtun0 it's not working, 100% package loss.

[2022-02-16 09:16] cgiraldo commented on #37
have the ue receive an IP in the uesimtun0 interface (10.45.0.X)?
have you ping to the IP of the other side of the tunel (10.45.0.1)?
have you a correct ip route entry in ue setting the gateway to the IP of the other side of the uesimtun0?

[2022-02-16 16:06] DiogoCruz40 commented on #37
Yes, both 4 ue appear but the state is unknown.

I have tried pinging with interface of one ue, it didn't work. Then i tried ping with eth0 it didn't work.

I didn't understand the question, how can i do that?

[2022-02-20 19:58] DiogoCruz40 commented on #28
The problem is not in the NAT is in the route, you can send packages to the internet, but when they return they don´t know where the tunnel is, you have to route it to there, i m still trying to find a solution

[2022-02-21 12:26] avrodriguezgrad commented on #37
Hi @DiogoCruz40,
How did you do the deployment of both charts? Can you tell me which commands did you execute and which files did you change?
On the other hand, which CNI do you have in your kubernetes cluster?

[2022-02-21 13:44] DiogoCruz40 commented on #37
Yes @avrodriguezgrad so first i deployed a rke2 cluster and then rancher server. In rancher server i created a namespace called open5gs where i deployed open5gs and ueransim like this:

Deploy of open5gs - https://github.com/Gradiant/openverso-charts

1. Install helm openebs for dynamic persistence volumes:

   $  `helm repo add openebs https://openebs.github.io/charts`

   $  `helm repo update`

[2022-02-21 15:56] avrodriguezgrad commented on #37
@DiogoCruz40 I'm going to figure out what is happening and I'll tell you something tomorrow

[2022-02-21 19:13] DiogoCruz40 commented on #37
@avrodriguezgrad thank you so much

[2022-02-22 15:03] avrodriguezgrad commented on #37
Hi @DiogoCruz40
We discovered why the chart is failing, so next days we are going to upload a new working version. Sorry for that, I'll tell you when this new version is ready for deployment.

[2022-02-22 15:04] DiogoCruz40 commented on #37
Hello @avrodriguezgrad, thank you good sir. If you could explain why is failling to, i would appreciate it .

[2022-02-24 07:45] avrodriguezgrad commented on #37
Hi @DiogoCruz40
We've updated UERANSIM chart so right now following the steps you told us, both charts (open5gs and ueransim) are working. I attach a image to show you that UEs have connectivity.
![UEs_working](https://user-images.githubusercontent.com/91475361/155479648-131bbbac-b9da-40f2-a8d1-5020e3930739.png)

The previous UERANSIM chart was failing due to the deployment in an unique pod. Our t

[2022-02-24 11:10] DiogoCruz40 commented on #37
Hi @avrodriguezgrad it's working, thank you soo much.
Another question, you deployed the UERANSIM trough statefulset, shouldn't it be through deployment as this has no state?

[2022-02-28 09:06] avrodriguezgrad commented on #37
Hi @DiogoCruz40

Yes, it could be an option to deploy gnb as deployment, but we follow the same pattern as in open5gs. Design decision, not matter at all.

I'm going to close the PR. Feel free to open it again or open another if you have any problem. Greetings!

[2022-02-28 09:06] #37 closed

[2022-03-04 09:18] avrodriguezgrad commented on #13
We are going to close the issue, if you want to open it again because you still have the problem, do it!
Regards,

[2022-03-04 09:18] #13 closed

[2022-03-04 09:19] avrodriguezgrad commented on #28
we are going to close the issue, if you want to open it again because you still have the problem, do it!
Regards

[2022-03-04 09:19] #28 closed

[2022-04-01 02:56] DiogoCruz40 opened #43 "[sctp] [error]: could not connect: Connection timed out"
**AMF:**

[code]

**GNB:**

[code]
**UE:**

[code]
**NRF:**

[code]
**UPF:**

[code]

So i deployed open5gs
then subscribe in webui to 999700000000001 - 999700000000004
at last deployed ueransim.
I have tried to ping from gnb to amf and it didn't work to this ping 10.43.211.197.
I'm using cillium in a rke2 cluster.

[2022-04-07 15:24] DiogoCruz40 commented on #43
Thank you so much @avrodriguezgrad .

[2022-04-07 15:24] #43 closed

[2022-04-11 20:55] s-choudhury commented on #13
I'm having a little bit of the opposite issue where even if I add subscriber in the web UI, it does not show up when I query. However, if I add a subscriber directly to mongo then a connection can be made, however my web UI for Open5GS doesn't show any subscribers (even though they exist in the mongo DB)

[2022-04-12 07:38] avrodriguezgrad commented on #13
Hi @s-choudhury
How did you deploy open5gs?

[2022-04-12 15:45] s-choudhury opened #45 "SMF connection issues"
When trying to connect a UE from UERANSIM, it's failing on one step which I think is related to the SMF not connecting. Below are the logs from the various NFs:

SMF (logs seem fine):
04/11 21:50:57.156: [app] INFO: Configuration: '/opt/open5gs/etc/open5gs/smf.yaml' (../lib/app/ogs-init.c:129)
04/11 21:50:57.275: [gtp] INFO: gtp_server() [10.1.59.79]:2123 (../lib/gtp/path.c:30)
04/11 21:50:57.275:

[2022-04-15 17:00] s-choudhury commented on #13
UPDATE: got it resolved. For some reason it looks like there are multiple instances of the web GUi up and running. I was using the one hosted on localhost:3000 which seemed to not be connected to the mongodb pod. However I later found out and tried accessing the web UI on the IP of the service being exposed by kubernetes and that was connected to the mongdb pod and I was able to add and remove sub

[2022-04-18 06:48] avrodriguezgrad commented on #13
What a strange thing! I'll check the chart to see what could be the error. I'm glad you were able to fix it and thanks for telling us!

[2022-04-18 06:51] avrodriguezgrad commented on #45
The resolution of IPs is through the names of the services. Could it be that you have that name mapped to an old IP?

[2022-04-18 15:56] s-choudhury commented on #45
I haven't configured any IPs in the config files. I shouldn't have to either right? Since as you mentioned the services are resolved through the name. Other than the mcc, mnc, and slice related parameters which need to be configured for the UE and Core, all other Core services should be able to connect without config changes?

[2022-04-18 18:12] s-choudhury commented on #45
The other components of the Core (AMF, UPF, UDM, NRF, etc) seem to establish connections just fine, so I'm wondering why the SMF is throwing a network related issue.

[2022-04-19 06:42] avrodriguezgrad commented on #45
Can you tell me what steps you took to deploy your scenario?

[2022-04-21 16:49] s-choudhury commented on #45
Also, when I delete the gnB pod from ueransim and it gets re-created, the SMF pod crashes:

04/21 16:42:23.161: [app] WARNING: Try to discover [PCF] (../lib/sbi/path.c:110)
04/21 16:42:23.162: [smf] INFO: [6f598526-b71d-41ec-ba25-d5811f4a0332] (NF-discover) NF registered (../src/smf/nnrf-handler.c:284)
04/21 16:42:23.162: [smf] INFO: [6f598526-b71d-41ec-ba25-d5811f4a0332] (NF-discover) NF Profile

[2022-04-25 08:13] avrodriguezgrad commented on #45
I think your problem has to be related with connectivity issues because i followed your steps and it's working for me. Which CNI are you using?

On the other hand, SMF crash is "normal". It's reported for other users in issues of open5gs/ueransim, so i cannot do nothing there...

[2022-06-29 06:25] #45 closed

[2022-07-13 14:44] AH-M-ED opened #56 "Exposing the AMF outside the cluster for external access"
Hello,
Thanks for the great work here!

This is not a issue but a question related to exposing the AMF outside the cluster for external access.
What is the best way to do that and how to do it? (.yaml)

Thanks.

[2022-07-15 07:27] AH-M-ED commented on #56
System :  Ubuntu 20.04
open5gs helm is installed in a Kubernetes cluster (k3d)

[2022-07-15 07:45] avrodriguezgrad commented on #56
Hello,

You have two options that we have used and they work. You can configure the Kubernetes internal DNS to resolve the services you want to be externally accessible with a particular domain (<svc-name>.<namespace>.external-lab5g.gradiant.org e.g.), but you have to have an external DNS that redirects requests to the internal DNS.

The other option is to use Multus and attach an interface with a

[2022-07-15 08:25] AH-M-ED commented on #56
Thanks for your reply!
based on your experience,there is no need to configure a Nodeport or an Ingrees service ?
The requirement is that the amf should be reachable outside the cluster,like,from the ubuntu host machine.

Do you have any step-by-step to do the DNS configuration or a example/tuto?
Thanks.

[2022-07-15 08:30] avrodriguezgrad commented on #56
We have not had to configure any of these types to work, so I understand that it is not necessary... but it will depend on the use case of each installation environment.

You can follow this to configure the external DNS: https://coredns.io/plugins/k8s_external/

[2022-07-15 08:31] AH-M-ED commented on #56
Thank you,I will give it a try!
Have a good day.

[2022-07-15 08:32] #56 closed

[2022-07-29 08:32] raeyoungii opened #64 "NAT rule in UPF/open5gs is not working"
I can see that upf has NAT rule set as default,
but there is `iptables`, `iptables-legacy` both working.

therefore, ping from ue(ueransim-gnb) to 8.8.8.8 does not work.

UPF:
`iptables -L -t nat`
[code]
`iptables-legacy -L -t nat`
[code]

after setting `iptables-legacy -t nat -A POSTROUTING -s 10.45.0.0/16 ! -o ogstun -j MASQUERADE`, it works.

I worder if I can put nat rule for `iptables-legacy`

[2022-08-03 06:31] avrodriguezgrad commented on #64
Hello,

We have never had a problem with that and never got the warning when viewing the iptable. We have always had a connection on the UE using the open5gs chart and ueransim with the right configuration.

Anyway, I will try to check what could be the problem but I can't promise to have a quick answer due to workload.

Regards,

[2022-08-03 07:14] raeyoungii commented on #64
Hi, thanks for reply.

I tested the container images for openverso/open5gs:2.4.8 (https://hub.docker.com/r/openverso/open5gs)
and ran `docker run -it --privileged openverso/open5gs:2.4.8`
this is what came out.
[code]

I think it would be the container image problem, nothing related to helm chart.

This issue might have to go to `Gradiant/openverso-images` repo, but I'll just keep it since I think

[2022-08-03 07:53] avrodriguezgrad commented on #64
Well, I've just run the same command as you and I don't have the warning.
![Captura de pantalla de 2022-08-03 09-46-59](https://user-images.githubusercontent.com/91475361/182553800-88cd0bf4-10f6-4d8f-96f6-a2f26648cb1a.png)

Although, that's not the way to deploy open5gs. You can follow the next tutorial and try to test if you have the same warning deploying open5gs in Docker: https://github.com/Gr

[2022-08-03 09:30] raeyoungii commented on #64
I tested this on another vm(centos7) and it is the same.
I checked iptables version for my host OS and container image.
host's iptables:
[code]

docker image iptables:
[code]

I can see that you're image doesn't reproduce the warning but I don't know why it is showing only to me.
If this warning show to other people, this issue should be fixed.
but for now, I think you can leave it as it is.
Thank

[2022-08-09 14:51] mayukhVT opened #67 "Issue in installing Open5GS on a Kubernetes cluster by openverso helm chart"
Hi,

I am trying to install Open5GS core on a kubernetes cluster by using helm charts. I am following "https://gradiant.github.io/openverso-charts/open5gs-srslte.html" to setup open5gs with srslte. I tried to install by executing:

"helm upgrade --install open5gs openverso/open5gs --version 1.2.1 --values https://gradiant.github.io/openverso-charts/docs/open5gs-srslte/epc-values.yaml"

But after e

[2022-08-11 09:50] #64 closed

[2022-08-22 07:16] cgiraldo commented on #67
Your problem is with mongodb helm dependency.
By default mongodb helm chart uses persistent volumes through a persistent volume claim (more info [here](https://kubernetes.io/docs/concepts/storage/persistent-volumes/)).

- One option is to configure mongodb to NOT use persistent volume (only recommended for testing purposes):

`
helm upgrade --install open5gs openverso/open5gs --version 1.2.1 --val

[2022-09-02 07:55] jmarkotic opened #77 "open5gs with multus"
Hi,
first thanks for great work on open5gs charts.
This is not really an issue but kind request for help.
I'd like to split control&data traffic via mutliple interfaces (ie. N3, N6 for UPF). Perhaps I can manage on adding multus, preparing NetworkAttachmentDefinitions, pod annotations) but not rally sure on how to reflect changes in chart manifests (interfaces referenced, IP addresses of component

[2022-09-06 07:36] avrodriguezgrad commented on #77
Hi,
We are currently changing the way open5gs chart is deployed so there isn't a method to split control&data traffic.
Although, we have it in our roadmap and, in the next days, we'll upload a version with that.

However, we work with Multus in our testing lab. FYI, you'll have the option to change the name of the interface in the config file of open5gs and to add annotations to use NetworkAttachm

[2022-09-06 12:16] jmarkotic commented on #77
Hi Alvaro,
thank You for feedback.
I am interested to split data path for N3 (having ueransim/gNB on other K8s cluster, having GTPu tunnel between 2 endpoints on different clusters) and ie having N6 on upf separated as well for flexibility (ie adding external SGi services, like NAT, ...).
I managed to add NAD definition and assign it to upf pod added annotations (with static ip). But i struggled f

[2022-09-07 15:48] #67 closed

[2022-09-12 19:38] mayukhVT opened #89 "Issue in deploying openverso/oai-gnb helm chart with USRP B210"
I am trying to setup Open5GS and OAI-GNodeB following the tutorial at: https://gradiant.github.io/openverso-charts/open5gs-oaignb.html . I have deployed a kubernetes cluster and to one of the nodes I have connected a USRP B210. Now I execute "helm install oai-gnb openverso/oai-gnb --version 0.3.1 --values https://gradiant.github.io/openverso-charts/docs/open5gs-oaignb/gnb-values.yaml " at the kube

[2022-09-13 06:33] cgiraldo commented on #89
Hi,

You need a prerequisite in your k8s cluster, you need a ettus-device-plugin daemonset to manage your usrps and automatically mount them in your pods: https://github.com/Gradiant/ettus-device-plugin

We will update the tutorial to add this information.

[2022-09-13 15:09] mayukhVT commented on #89
Thanks for your response! I figured it out later and it was working. Thanks anyway. By the way, do you have any plans of helm chart implementation of srsRAN 5G SA ? @cgiraldo

[2022-09-14 07:36] cgiraldo commented on #89
Not for now,

We have tested srsRAN 5G SA in a local dockerized setup but It only offer 3 FDD bands that are not the ones we have licensed to operate. Maybe in the future, for sure if they finally include TDD and more bands.

But we are open for contribution if  anyone find it interesting.

Kind regards,

[2022-09-14 07:36] #89 closed

[2022-09-20 06:49] avrodriguezgrad commented on #77
Hi,
Now, you can find an option in open5gs-upf chart to change the name of the gtpu interface. Through values.yaml, you can see the field to change it ( .Values.config.upf.gtpu.dev ).

This is a basic split of control&data plane, but I think it'll meet your needs.

[2022-09-20 10:51] jmarkotic commented on #77
Hi Alvaro,
thanks You !!
I actually pulled helm like 10d ago and had to provide both dev/interface, but i also had to define ip address in Values.config.upf.gtpu.advertise that should be advertised and which was assigned via NetworkAttachmentDefinition.
Btw, I also had error reported by helm in resource/config.upf.yaml file. So I modified:
from:
 advertise: "{{ tpl .Values.config.upf.gtpu.advertis

[2022-09-21 11:07] avrodriguezgrad commented on #77
You almost got it right. In values.yaml of open5gs helm chart, you have to put (.Values.upf) and inside that, you can change the values of the open5gs-upf chart.
You can see an example with udr, hss... which have mongodb.enabled, changing the values.yaml of the chart accordingly.

[2022-09-29 00:40] jmarkotic commented on #77
all good. Thank you for help !!
Closing the issue.

[2022-09-29 00:40] #77 closed

[2022-09-29 12:11] jmarkotic opened #90 "open5gs pods multiple replicas ("
hello,
question, not an issue really.
is it safe to scale pods to multiple replicas ? (default is 1 for all components) ?
I can see comment in values.yaml that RWM mode is required if scale is required. Does this apply really to all components pods ?
thanks,
j

[2022-09-29 12:37] jmarkotic opened #91 "UPF running on separate cluster - exposing requird service for communication SMF-UPF"
Hi,
currently I have UPF running on same cluster as other components. UPF is having separate data/N3 interface (same as uernasim/gNB) and communication is working fine.
I would need to separate UPF to differenet cluster since upf would be located on edge. For this i would need to expose some services as external ones via LB and explicitly define them in config files (since service autodiscovery no

[2022-09-29 13:34] cgiraldo commented on #90
Hi,

You will not be able to scale de deployments because we defined a HorizontalPodAutoscaler with maxReplicas to 1 in order to avoid people scaling the 5G functions.

If you need for example multiple amfs in your core, you have to deploy multiple open5gs-amfs, each one with a different name (for example playing with the helm release name), in order to register with a unique name in the open5gs-n

[2022-09-29 13:34] #90 closed

[2022-09-30 06:43] avrodriguezgrad commented on #91
Yes, they only need PCFP for communication being in differente clusters. Your approach is also right. When we deploy something outside, we also use Multus to give differents IPs and we change the configuration files.

On the other hand, I've never seen these logs error so I don't think I can be useful to solve that.

[2022-10-08 20:10] jmarkotic commented on #91
will need to redo setup to test further. i will close this now

[2022-10-08 20:10] #91 closed

[2022-10-08 20:10] jmarkotic commented on #91
closing due not having proper logs for now. I will retest.

[2022-10-28 12:16] tywofxd opened #102 "Connect the latest oai-gnb (w36) with open5gs"
Hello! Thanks for such a great repository!
I followed your tutorial: Open5gs and OAI-GNB in https://gradiant.github.io/openverso-charts/open5gs-oaignb.html, and successfully connected my Redmi K30s with the open5gs core.
However, after several minutes, the phone lost its connection with the oai-gnb. I captured the traffic of amf pod and found that it received UEContextReleaseRequest from the gNB p

[2022-10-28 14:45] cgiraldo commented on #102
It seems gnb exit with code 132 (Illegal Instructions). Sometimes that happens to us when building the docker image in certain servers (we still do not know why).

Try building the image locally in your server from here: https://github.com/Gradiant/openverso-images/tree/main/images/oai

[code]
One option to use your custom image in kubernetes is to upload it to a dockerhub account of your own and

[2022-10-29 05:17] tywofxd commented on #102
Hello! Thank you for your kind reply!
I followed your suggestion and tried to build the image locally. But after I ran the given command:

`docker build --build-arg version=2022.w36 -t custom-oai-gnb:2022.w36 .`

I got error shown as follows:
Unpacking libuhd4.2.0:amd64 (4.2.0.1-0ubuntu1~focal1) ...
dpkg: error processing archive /tmp/apt-dpkg-install-Tmox5V/72-libuhd4.2.0_4.2.0.1-0ubuntu1~focal1_

[2022-10-31 08:11] avrodriguezgrad commented on #102
Yes, that error is normal but it is not our fault. OAI has a file which downloads the necessary requirements and this file downloads libuhd4.2.0, but this version of libuhd enters in conflict with the next version (4.3.0). We are waiting to see if OAI fixes this in its file or Ettus resolves the conflict in its ppa repository. If not, we will apply a patch to build the images, but we don't know if

[2022-10-31 08:34] tywofxd commented on #102
Yes, I met the same error when I tried to build OAI gnb locally on my ubuntu 18.04 machine. After running "./build_oai -I -w USRP", I got that error. But I followed this https://genuinecoder.com/how-to-fix-trying-to-overwrite-which-is-also-in-package-issue-in-linux/, and fixed this error at the second run of "./build_oai -I -w USRP". The building was successful at my local machine.
 You mean that

[2022-10-31 09:48] avrodriguezgrad commented on #102
I don't know if that is the correct solution to the problem, because libuhd-dev and uhd-host are installing libuhd4.3.0, so it can cause problem with libuhd4.2.0. The patch i was referring to is the following: in the Dockerfile after the instruction "RUN git checkout $VERSION" you can add the following "RUN sed -i 's/libuhd4.2.0/libuhd4.3.0/g' cmake_targets/tools/build_helper", and build the image

[2022-11-01 02:24] tywofxd commented on #102
Hello!
I modified the Dockerfile the same way as your suggestion, but another error occurred.

protobuf/protobuf-c installation successful
installing dependencies successful
dpkg: error: cannot access archive '/tmp/apt-dpkg-install-Tmox5V/72-libuhd4.2.0_4.2.0.1-0ubuntu1~focal1_amd64.deb': No such file or directory
The command '/bin/sh -c /bin/sh oaienv &&     cd cmake_targets &&     mkdir -p log &

[2022-11-02 07:50] avrodriguezgrad commented on #102
I don't think the dpkg commands are necessary for the build changing the version to libuhd4.3.0. Try with the Dockerfile attached, I can build the image with it.
[Dockerfile.zip](https://github.com/Gradiant/openverso-charts/files/9917701/Dockerfile.zip)

[2022-11-02 09:50] cgiraldo commented on #102
Hi,

Please, try with any of the following images:

`openverso/oai:2022.w36-uhd4.3`

`openverso/oai:2022.w43-uhd4.3`

Please, report how these images perform since we didn't test them before.

[2022-11-02 12:38] tywofxd commented on #102
@avrodriguezgrad
Thank you for your kindly attached Dockerfile. I tried your Dockerfile, but, unfortunately, the building process failed again. The following errors occurred:

Adding group `usrp' (GID 106) ...
Done.
sysctl: cannot stat /proc/sys/net/core/rmem_max: No such file or directory
sysctl: cannot stat /proc/sys/net/core/wmem_max: No such file or directory
Warning: Could not update sysctl s

[2022-11-02 14:44] cgiraldo commented on #102
Hi @tywofxd.

Regarding your error 132, maybe it is similar to this thread of mongodb (https://github.com/docker-library/mongo/issues/485) where the problem is that the cpu must meet some microarchitecture requirement (i.e., CPUs with AVX instructions).

Can you provide the output of `cat /proc/cpuinfo` in your server?

-----------
On the other hand, to be able to build the docker image, use the a

[2022-11-03 05:17] tywofxd commented on #102
Hello! @cgiraldo
You are right. The attached Dockerfile worked well for version 2022.w43. I successfully built the oai-gnb 2022.w43 image locally. Then I uploaded it to my dockerhub account and changed the image repository value of the helm chart to my own.
The oai-gnb-0 pod was running, but when I checked its logs, I was over overwhelmed by the error outputs. The following error are all over the

[2022-11-03 07:57] avrodriguezgrad commented on #102
Hi,
Did you follow OAI instructions about CPU? Link: https://gitlab.eurecom.fr/oai/openairinterface5g/-/wikis/OpenAirKernelMainSetup
I think that error can be caused because of not following the above instructions instead of UHD version.

Yes, you can use open5gs in k8s pods, but AMF and UPF need to have reachable IPs by gNB.

[2022-11-03 13:00] cgiraldo commented on #102
Good to here It worked.

We managed to connect a Samsung Galaxy Tab S7+ 5G and do a speedtest (+100Mbps). However the oai-gnb crashes after a minute of data transmission.

I will close the issue, but please, feel free to share your progress, specially your success.

Good luck!

[2022-11-03 13:00] #102 closed

[2022-11-19 03:22] DiogoCruz40 opened #103 "UERANSIM-UES 3.2.6 not working -> DNN Problem"
Hello, so i have subscribed to imsi in the open5gs WebUI '999700000000001'. But in the ueransim-ue container appears this error. All other container logs seems fine

![Captura de ecrã de 2022-11-19 03-21-00](https://user-images.githubusercontent.com/43995498/202832099-2358b5a4-8383-4f68-9211-e453c5b2a778.png)

[2022-11-19 21:53] DiogoCruz40 commented on #103
OK, i found out the problem is in your sd it must be 0xffffff instead of 0x111111

[2022-11-20 22:34] DiogoCruz40 commented on #103
Is it possible to add a service to UERANSIM-UES? If yes how?

[2022-11-21 00:10] DiogoCruz40 commented on #103
Is it possible to redirect all traffic to the network interface uesimtun0 without using the manual command
 "ping -I uesimtun0 8.8.8.8"

[2022-11-21 07:46] avrodriguezgrad commented on #103
Hello Diogo, thanks for using our charts. First of all,

Are you sure about this? Which version are you using of the charts? I don't see any 0xffffff in the charts. All charts have configured 0x111111.

Automatically, I don't know if it is possible. I think changing the default route could be possible, but I've never done it. You can search in the official repo of UERANSIM: https://github.com/alig

[2022-11-21 11:21] DiogoCruz40 commented on #103
Hello @avrodriguezgrad, thank you so much,

Yes, I'm sure of this. I'm using your latest versions of charts. Please consider testing on an environment the UERANSIM + Open5gs. The problem is in the APN slice configuration 'sd'. As i said i solved it using the sd '0xffffff'.

I will check it out thank you, probably i will configure the routes in your entrypoint.sh, as i configured to open the plc se